[user]
	name = hanshenu
	email = hanshenu@gmail.com
[mergetool]
	keepBackup = true
	prompt = false
[color]
    ui = true
[core]
    editor = vim
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
[difftool]
	prompt = No
